body {
    color: #2a4d7a;
}

a {
    color: #2a4d7a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar, .mobile-menu, footer {
    background-color: #333;
    color: #fff;
}

.navbar-container, .cards-container, footer .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar-logo, .navbar-item, .mobile-menu-item {
    text-decoration: none;
    padding: 14px 20px;
    color: #fff;
}

.navbar-logo {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.navbar-item:hover, .mobile-menu-item:hover {
    background-color: #575757;
}

.navbar-toggle, .mobile-menu {
    display: none;
}

.navbar-toggle {
    flex-direction: column;
    cursor: pointer;
    font-size: 30px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

.mobile-menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mobile-menu.active {
    max-height: 300px;
}

.hero-image {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.call-to-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #004494;
}

.cards-container {
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.card, .business-card, .list-item {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    box-sizing: border-box;
}

.business-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.list-container {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
}

.list-table th, .list-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

.list-table th {
    background-color: #333;
    color: #fff;
}

footer {
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .navbar-menu-content {
        display: block;
        text-align: center;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}
